
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .head{
    background:linear-gradient(160deg,#02ccba,#aa7ecd) ;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    margin: 20px  20px auto;
    border-radius: 4px;
    text-align: center;

  }
  h1{
    color: white;
    font-family: cursive;
    padding: 20px 10px 0px 20px;
    text-align: center;
    border-radius: 4px;
  }
  p{
      text-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
      margin: 20px ;
      padding: 20px;
      text-align: center;
      padding: 0px 20px 20px 20px;
      color:black;
  }
  button{
      border: none;
      background-color: #aa7ecd;
      border-radius: 3px;
      padding: 10px 15px;
      color: white;
      box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);

  }
  input{
    border: none;
    padding: 10px 15px;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    margin: 10px;

}
textarea:focus, input:focus{
    outline: none;
}
.formc{
    text-align: center;
    margin: 40px auto;
}
ul {
    list-style:none;
}
ul, li { /* reset the margin and padding */
    margin: 0;
    padding: 0;
}
.comment ul {
     /* 1 em margin for the UL elements under .comment */
    margin-left: 1em;
}
.comment ul ul ul ul ul {
     /* stop the nesting! */
    margin-left: 0;
}
li{
    padding: 29px ;
    margin: px ;
    display: inline-block;
    text-align: center;
    margin: 20px;
    color: black;
    font-family: cursive;
}
.pad{
    padding: 0px;
    background:white;
    margin: 20px  20px ;
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}
.error{
    margin: 20px  20px ;

}
button:active{
    border: none;
}
